
        <link rel="stylesheet" href="/layouts/EduQuali.css" />
        <section class="wrapperCustom">
            <!-- Row title -->
            <main class="rowCustom titleCustom">
              <ul>
                <li>Year</li>
                <li>Examination</li>
                <li>Score</li>
              </ul>
            </main>
            <!-- Row 1 - fadeIn -->
            <section class="row-fadeIn-wrapper">
                <article class="rowCustom fadeIn nfl">
                    <ul>
                        <li><a href="#">2019</a></li>
                        <li>BTECH(IT)</li>
                        <li>9.53</li>
                    </ul>
                    <ul class="more-content">
                        <li>Score is CGPA Value</li>
                    </ul>
                </article>
            </section>
            <!-- Row 2 -->
            <section class="row-fadeIn-wrapper">
                <article class="row fadeIn mlb">
                    <ul>
                        <li><a href="#">2015</a></li>
                        <li>HSC</li>
                        <li>93.68</li>
                    </ul>
                    <ul class="more-content">
                        <li>Score is Percentile Value</li>
                    </ul>
                </article>
            </section>
            <!-- Row 3 -->
            <section class="row-fadeIn-wrapper">
                <article class="rowCustom fadeIn nhl">
                    <ul>
                        <li><a href="#">2013</a></li>
                        <li>SSC</li>
                        <li>84.96</li>
                    </ul>
                    <ul class="more-content">
                        <li>Score is Percentile Value</li>
                    </ul>
                </article>
            </section>
 
