/* Google fonts - Open Sans */
/* colors */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* body */
/* body {
  background: rgba(0, 0, 0, 0.9);
  font-family: 'Open Sans', sans-serif;
  /* links */
/*} */
.nfl a, .mlb a, .nhl a{
  text-decoration: none;
  transition: color 0.2s ease-out;
}
.nfl a {
  color: #4fc0d2;
}
.nfl a:hover {
  color: #268695;
}
.mlb a {
  color: #52d29a;
}
.mlb a:hover {
  color: #279766;
}
.nhl a {
  color: rgba(231, 196, 104, 0.7);
}
.nhl a:hover {
  color: rgba(201, 154, 32, 0.7);
}

.wrapperCustom {
  width: 100%;
  max-width: auto;
  margin: 10px auto 10px auto;
  padding: 0;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  /* lists */
}
.rowCustom ul {
  margin: 0;
  padding: 0;
}
.rowCustom ul li {
  margin: 0;
  font-size: 12px;
  font-weight: normal;
  list-style: none;
  display: inline-block;
  width: 33.33%;
  box-sizing: border-box;
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .rowCustom ul li {
    font-size: 9px;
  }
}
@media only screen and (max-width: 479px) {
  .rowCustom ul li {
    font-size: 9px;
  }
}

.titleCustom ul li {
  padding: 12px 10px;
}
.rowCustom ul li {
  padding: 3px 7px;
  /* rows */
}
.rowCustom {
  padding: 20px 0;
  height: 20px;
  font-size: 0;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-out;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.rowCustom:hover {
  background-color: rgba(26, 26, 26, 0.9);
  height: 45px;
}
@media only screen and (max-width: 767px) {
  .rowCustom:hover {
    height: 85px;
  }
}
@media only screen and (max-width: 359px) {
  .rowCustom:hover {
    height: 105px;
  }
}

.titleCustom {
  padding: 22px 0 2px 0;
  height: 30px;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 3px solid rgba(255, 255, 255, 0.1);
}
.titleCustom:hover {
  height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 3px solid rgba(255, 255, 255, 0.1);
}
@media only screen and (max-width: 767px) {
  .title-hide {
    display: none;
  }
}

.nfl {
  border-left: 3px solid #1c616c;
}
.nfl:hover {
  border-left: 3px solid #4fc0d2;
}
.mlb {
  border-left: 3px solid #1d6e4b;
}
.mlb:hover {
  border-left: 3px solid #52d29a;
}
.nhl {
  border-left: 3px solid rgba(157, 121, 25, 0.7);
}
.nhl:hover {
  border-left: 3px solid rgba(231, 196, 104, 0.7);
}

.row-fadeIn-wrapper {
  opacity: 0;
  font-size: 0;
  height: 0;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-out;
  animation: fadeIn 0.4s ease-out 2s 1 alternate;
  animation-fill-mode: forwards;
}
.row-fadeIn-wrapper:hover {
  height: 20px;
}
@media only screen and (max-width: 767px) {
  .row-fadeIn-wrapper:hover {
    height: 55px;
  }
}
@media only screen and (max-width: 359px) {
  .row-fadeIn-wrapper:hover {
    height: 75px;
  }
}
.fadeIn {
  padding: 12px 0;
  font-size: 0;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.fadeIn:hover {
  background-color: rgba(26, 26, 26, 0.9);
  /* row two - fadeOut */
}
.row-fadeOut-wrapper {
  font-size: 0;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-out;
  animation: fadeOut 0.4s ease-out 8s 1 alternate;
  animation-fill-mode: forwards;
  opacity: 1;
  height: 30px;
}
.row-fadeOut-wrapper:hover {
  height: 100px;
  /* more content */
}
ul.more-content li {
  position: relative;
  top: 7px;
  font-size: 10px;
  margin: 0;
  padding: 8px 10px 2px;
  display: block;
  height: 50px;
  width: 100%;
  color: rgba(128, 128, 128, 0.9);
  /* keyframe animations */
}
@media only screen and (max-width: 767px) {
  ul.more-content li {
    font-size: 7px;
  }
}

@keyframes fadeIn {
  from {
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    padding: 0;
  }
  to {
    background: rgba(51, 51, 51, 0.1);
    opacity: 1;
    padding: 0 0 65px 0;
  }
}
@keyframes fadeOut {
  from {
    background: rgba(51, 51, 51, 0.1);
    opacity: 1;
    height: 65px;
  }
  to {
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    height: 0;
  }
}
